<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

	<div id='bizzbar'>
  <p class='bizztext'>Download my latest game SOCCER BALL JUGGLER <button class='bizzbutton' onclick="window.location='https://play.google.com/store/apps/details?id=com.raviikmr.juggler';">Click here</button></p>
  <close></close>
</div>
<open></open>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://code.jquery.com/ui/1.10.2/jquery-ui.js'></script>

    <script src="/js/topbar.js"></script>
	
    <div class="page-content">
      <div class="wrapper">
        <div class="col-main">
          {{ content }}
        </div>
        <div class="col-second">
          {% include sidebar.html %}
        </div>
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
